.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .sidenav {
    width: 250px;
  }

  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;
  }

  .content {
    padding: 20px;
  }
  
  .span-spacer {
    flex: 1 1 auto;
  }
}
